$wrapper-max-width:     1400px;
$wrapper-min-width:     305px;
$wrapper-padding:       8px;

$font-color:            #080808;
$bg-color:              #f0f0f0;
$on-background-color:   #fff;
$search-inactive-text:  #9b9b9b;
$search-active-text:    #323232;

$state-info-text:       #31708f;
$state-info-bg:         #d9edf7;
$state-info-border:     #bce8f1;

$state-danger-text:     #a94442;
$state-danger-bg:       #f2dede;
$state-danger-border:   #ebccd1;

$color:                 #f44336;
