# compile this file with 'pip-compile requirements.in'
# sync environment with 'pip-sync'
# to update all packages run 'pip-compile --upgrade'

concurrent-log-handler==0.9.24
django==4.2.7
django-auth-ldap==4.6.0
django-axes[ipware]==6.1.1
django-cas-ng==5.0.1
django-cors-headers==4.3.0
django-debug-toolbar==4.2.0
django-environ==0.11.2
django-mama-cas==2.5.0
django-redis==5.4.0
django-simple-captcha==0.5.20
defusedxml==0.7.1
gevent==23.9.1
easy-thumbnails==2.8.5
Pillow==10.1.0
pip-tools==7.3.0
psycopg[binary]==3.1.12
requests==2.31.0
requests-futures==1.0.1
shortuuid==1.0.11
whitenoise[brotli]==6.6.0

# Server
gunicorn==21.2.0
rainbow-saddle==0.4.0
