# compile this file with 'pip-compile requirements.in'
# sync environment with 'pip-sync'
# to update all packages run 'pip-compile --upgrade'

apimapper==0.7.9
base-common==0.4
base-common-drf==0.5
concurrent-log-handler==0.9.28
defusedxml==0.7.1
django~=4.2
django-auth-ldap==5.3.0
django-axes[ipware]==8.3.0
django-cas-ng==5.1.0
django-cors-headers==4.9.0
django-environ==0.12.0
django-filter==25.1  # 25.2 already depends on django>=5.2
django-mama-cas==2.5.0
django-redis==6.0.0
django-rq==3.2.2
django-simple-captcha==0.6.3
djangorestframework==3.16.1
djangorestframework-api-key==3.1.0
drf-spectacular==0.29.0
easy-thumbnails==2.10.1
gevent==25.9.1
Pillow==12.1.1
psycopg[binary]==3.3.2
requests==2.32.5
sentry-sdk
shortuuid==1.0.13
skosmos-client==0.3.0
whitenoise[brotli]==6.11.0

# Server
gunicorn==25.0.3
rainbow-saddle==0.4.0
